<%- include ('partials/header') %>
<div class="row text-center" style="margin-top:200px">
<h1>
	welcome to MediAssist
</h1>
<a href="/hospital">click here for a new journey</a>
</div>	
<%- include ('partials/footer') %>
