<%- include ('./partials/header') %>
<h1>
	 this is login page
</h1>
<form  action="/login" method="POST">
	<input type="text" name="username" placeholder="username">
	<input type="password" name="password" placeholder="password">
	<button>
		submit
	</button>
</form>
<%- include ('./partials/footer') %>
